* {
  user-select: none;
  outline: none;
}

:root {
  --header-bg: #ffffff;
  --border-color: #d9d9d9;
  --text-color: #000000;
  --primary-color: #1890ff;
  --input-bg: #ffffff;
}

[data-theme="dark"] {
  --header-bg: #141414;
  --border-color: #434343;
  --text-color: #ffffff;
  --primary-color: #177ddc;
  --input-bg: #1f1f1f;
}

html, body, #root {
  height: 100%;
  overflow: visible;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
